<ion-header>
  <ion-navbar>
    <ion-title>
      List of Products
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list>
    <ion-item *ngFor="let item of produits" (click)="showDetail(item)">
      <ion-card>
        <img src="{{item.image}}" />
        <div class="card-title"><span class="card-title-cat">{{item.name}}</span></div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>