<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detail {{produit.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <h3>Test : {{produit.name}}</h3>
    <img src="{{produit.image}}" />
    <ion-item>
      <ion-label>Voiture Maserati</ion-label>
      <ion-label>Prix: 99999 </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="star" item-start></ion-icon>
      <ion-icon name="star" item-start></ion-icon>
      <ion-icon name="star" item-start></ion-icon>
      <ion-icon name="star" item-start></ion-icon>
      <ion-icon name="star" item-start></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-twitter" item-satrt></ion-icon>
      Followrs
      <ion-badge item-end>260k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Maserati est une voiture parfaite pour vous</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
